{% extends "navbar/navbar.html" %}

{% block content %}
      <h1>Register</h1>
		  <form method="POST">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" name="firstName" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Enter First Name" size = "30">				
			</div>

			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" class="form-control" id="lastName" placeholder="Enter Last Name">
			</div>

      <div class="form-group">
				  <label for="lastName">Email</label>
				  <input type="text" name="email" class="form-control" id="email" placeholder="E-Mail">
			</div>

      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password"
      </div>


			<div class="form-group">
				  <label for="interests">Interests (comma-separated tags)</label>
          <input type="text" id="interests" name="tags" class="form-control" >

			</div>

      <div class="form-group">
				  <label for="bio">Bio</label>
          <textarea name="bio" class="form-control" placeholder="Write a little something about yourself..."></textarea>

			</div>

			<div class="form-group">
				  <label for="mentor1">Mentor</label>
				  <input type="checkbox" class="mentor" id="mentor" name="mentor" class="form-control">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>



{% endblock %}
